{:paths ["src"]
 :aliases
 {:native-image
  {:main-opts ["-m clj.native-image teknql.statik.main"
               "--initialize-at-build-time"
               ;; optional native image name override
               "-H:Name=statik"
               "-H:+ReportUnsupportedElementsAtRuntime"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha     "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}
 :deps
 {;; Clojure 1.10 has issues with GraalVM. Should be resolved in 1.11
  ;; More information here: https://clojure.atlassian.net/browse/CLJ-1472
  org.clojure/clojure     {:mvn/version "1.9.0"}
  hiccup                  {:mvn/version "2.0.0-alpha2"}
  garden                  {:mvn/version "1.3.9"}
  pathetic                {:mvn/version "0.5.1"}
  cli-matic               {:mvn/version "0.3.11"}
  borkdude/sci            {:mvn/version "0.0.12-alpha.3"}
  ring/ring-core          {:mvn/version "1.8.0"}
  ring/ring-jetty-adapter {:mvn/version "1.8.0"}}}
