{:paths ["src" "resources"]
 :aliases
 {:main
  {:main-opts "-M -m teknql.statik.main"}
  :native-image
  {:main-opts ["-m" "clj.native-image" "teknql.statik.main"
               "--initialize-at-build-time"
               "--no-fallback"
               "--no-server"
               ;; optional native image name override
               "-H:Name=build/statik"
               "-H:ConfigurationFileDirectories=graal-configs/"
               "-H:EnableURLProtocols=http,https"
               "-H:+ReportExceptionStackTraces"
               "-H:+ReportUnsupportedElementsAtRuntime"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"
               "-Dclojure.spec.skip-macros=true"]
   :extra-deps
   {clj.native-image/clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha     "4604ae76855e09cdabc0a2ecc5a7de2cc5b775d6"}}}}
 :deps
 {org.clojure/clojure   {:mvn/version "1.11.1"}
  hiccup/hiccup         {:mvn/version "2.0.0-alpha2"}
  garden/garden         {:mvn/version "1.3.10"}
  pathetic/pathetic     {:mvn/version "0.5.1"}
  cli-matic/cli-matic   {:mvn/version "0.3.11"}
  org.babashka/sci      {:mvn/version "0.6.37"}
  ring/ring-core        {:mvn/version "1.9.6"}
  http-kit/http-kit     {:mvn/version "2.7.0-alpha1"}
  compojure/compojure   {:mvn/version "1.7.0"}
  watchtower/watchtower {:mvn/version "0.1.1"}
  com.taoensso/timbre   {:mvn/version "4.10.0"}}}
